html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carousel-item img {
    width: 100%; 
    height: 300px;
    object-fit: cover; 
}
table {
    border-collapse: collapse;
}
    table.product-details {
        table-layout: auto;
        width: 180px;
    }
.categories {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.search-bar {
    flex: 1;
    padding: 8px 50px;
    font-size: 16px;
    border-radius: 4px;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: white;
    width: 200px;
    z-index: 1;
}

    .menu a {
        padding: 10px;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid #ddd;
    }

        .menu a:hover {
            background-color: #f1f1f1;
        }

.menu-toggle:checked + .menu-icon + .menu {
    display: flex;
}
.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed */
    display: flex;
}

    .search-bar input {
        flex: 1;
        padding: 8px;
        font-size: 16px;
    }

    .search-bar button {
        padding: 8px 16px;
        font-size: 16px;
        border-left: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

        .search-bar button:hover {
            background-color: #0056b3;
        }